%button {
  background-color: $very-dark-cyan;
  padding: 15px 30px;
  border-radius: 30px;
  margin-top: 2rem;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1rem;
  border: 2px solid $very-dark-cyan;
  outline: none;
  cursor: pointer;
  @include transition-btn-background;
  font-weight: 400;
}
